exportPattern("^[[:alpha:]]+")
export(fars_read)
export(make_filename)
export(fars_read_years)
export(fars_summarize_years)
export(fars_map_state)
import(readr)
import(dplyr)
import(magrittr)
import(tidyr)
import(maps)
import(graphics)